<div class="category-name">
  < {{ categoryName }}
</div>
<div class="products-wrapper">
  <p class="sort-by-title"><strong>SORT BY:</strong></p>
  <mat-form-field>
    <mat-select placeholder="" [(value)]="selected">
      <mat-option *ngFor="let sortBy of sortBys; let index = index;" [value]="sortBy">
        {{ sortBy }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-list>
    <mat-list-item *ngFor="let product of (products | async)" class="product-wrapper">
      <mat-card>
        <div class="product">
          <img [src]="'http://ecsc00a00eec.epam.com/' + product.imageUri" [alt]="product.name" class="product-image">
          <div class="product-info">
            <strong class="product-name">${{ product.price.toFixed(2) }}</strong>
            <span>{{ product.name }}</span>
            <ee-product-rating></ee-product-rating>
          </div>
        </div>
        <div class="actions">
          <div class="action">
            <mat-icon>add</mat-icon>
            Add to cart
          </div>
          <div class="action">
            <mat-icon>add</mat-icon>
            Add to recurring cart
          </div>
        </div>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
