.title {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.product {
  display: flex;
  padding: 2rem 0;

  .product-image {
    margin-right: 1rem;
  }

  .product-info {
    flex: 2
  }

  .product-name {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.continue-to-cart {
  min-width: 60%;
  font-size: 2rem;
}

.actions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  button {
    margin-bottom: 1rem;
  }

  em {
    font-size: 1.8rem;
  }
}
