<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table th:fragment="footer" bgcolor="#e6e6e6" style="background-color:#e6e6e6;" cellpadding='0'
       cellspacing='0'
       border='0' width="600">
    <tr>
        <td width="600" height="114">
            <a href="http://canadiantire.ca">
                <img src="footer.jpg"
                     th:src="|http://${host}:${port}/footer.jpg|"
                     alt="" vspace="0" hspace="0" style="display:block;"/>
            </a>
        </td>
    </tr>
    <tr>
        <td width="600">
            <table cellpadding='0' cellspacing='0' border='0' width="600">
                <tr>
                    <td style="color:#666666; font-size:10px; font-family: Arial;"
                        height="30">
                        <a style="color:#666666; font-size:10px; font-family: Arial;">
                            Store Locator
                        </a>
                        <span style="color:#666666; font-size:10px; font-family: Arial;">
                                                 |
                                            </span>
                        <a style="color:#666666; font-size:10px; font-family: Arial;">
                            Privacy &amp; Security
                        </a>
                        <span style="color:#666666; font-size:10px; font-family: Arial;">
                                                 |
                                            </span>
                        <a style="color:#666666; font-size:10px; font-family: Arial;">
                            Contact Us
                        </a>
                        <span style="color:#666666; font-size:10px; font-family: Arial;">
                                                 |
                                            </span>
                        <a style="color:#666666; font-size:10px; font-family: Arial;">
                            Returns &amp; Exchanges
                        </a>
                    </td>
                </tr>

                <tr>
                    <td style="color:#666666; font-size:10px; font-family: Arial;">
                        <div style="margin-bottom:10px; font-family: Arial;">
                                                <span style="font-family: Arial; font-size: 12px;">
                                                Canadian Tire Corporation, 2180 Yonge St., Toronto, ON  M4P 2V8<br/>
                                                </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="12"
                        style="color:#666666; font-size:10px; font-family: Arial;">
                        <div style="margin-bottom:10px; font-family: Arial;">
                                                <span style="font-family: Arial; font-size: 12px;">
                                                    This email was sent to
                                                    <a style="color:#666666; text-decoration:underline;"
                                                       th:text="${recipient}"></a>
                                                </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="40">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>