.product-rating {
  display: flex;
  align-items: center;
  color: #cc0000;

  mat-icon {
    width: 2.5rem;
    height: 2.5rem;

    &:last-child {
      margin-right: 1rem;
    }
  }

  & .not-select {
    color: #ccc;
  }
}
