<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pre-built pickup cart is ready</title>
</head>

<body bgcolor="#e6e6e6" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
      style="border-collapse: collapse; padding: 0; margin: 0; background-color: #e6e6e6; font-family: Arial; font-size: 12px;">
<center>
    <table width='600' cellpadding='0' cellspacing='0' border='0'
           style="border-collapse: collapse; padding: 0; margin: 0; text-align: left; background-color: #ffffff;">
        <tr>
            <td>
                <center>
                    <div th:replace="fragments/header :: header">...</div>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <div th:replace="fragments/user :: user">...</div>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding='0' bgcolor="#ffffff" cellspacing='0' border='0' width="600">
                    <tr>
                        <td style="width: 15px;">&nbsp;</td>
                        <td width="570">
                            <table cellpadding='0' cellspacing='0' border='0' width="550">
                                <tr height="15">
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; color: #333333; font-family: Arial;">
                                        <div style="font-size: 14px; font-family: Arial;">
                                            We've prepared your recurring cart for you!<br/>
                                            Pickup is available from <strong th:text="${user.store.name}"></strong> store,
                                            <span th:text="${user.store.address}"></span>.
                                        </div>
                                    </td>
                                </tr>
                                <tr height="10">
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="font-size: 14px; font-family: Arial;">
                                            <strong>
                                                <a href="">Confirm my cart pickup >> </a>
                                            </strong>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding='0' bgcolor="#ffffff" cellspacing='0' border='0'
                                               width="550">
                                            <tr>
                                                <td colspan="9" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" style="border-bottom:1px solid #969696;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" height="10" bgcolor="fbfbfb"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" width="265" bgcolor="fbfbfb"
                                                    style="font-size:12px; color:#333333; font-family: Arial;">
                                                    <strong style="font-size:12px; color:#333333; font-family: Arial; text-transform: uppercase; text-indent: 10px; display: block;">
                                                        PRODUCT
                                                    </strong>
                                                </td>
                                                <td width="10" bgcolor="fbfbfb"
                                                    style="font-size:10px; color:#333333;"></td>
                                                <td width="90" bgcolor="fbfbfb"
                                                    style="font-size:12px; line-height:12px; color:#333333; font-family: Arial; text-align:center;">
                                                    <strong>PRICE</strong>
                                                </td>
                                                <td width="10" bgcolor="fbfbfb"
                                                    style="font-size:12px; line-height:12px; color:#333333;"></td>
                                                <td width="100" bgcolor="fbfbfb"
                                                    data-order-entries-confirmation="total"
                                                    style="font-size:12px; line-height:12px; color:#333333; font-family: Arial; text-align:center;">
                                                    <strong>TOTAL</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" height="5" bgcolor="fbfbfb">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" style="border-bottom:1px solid #eeeeee;">
                                                </td>
                                            </tr>

                                            <th:block th:each="item : ${items}">
                                                <tr>
                                                    <td width="10" style="font-size:14px;"></td>
                                                    <td width="70" align="center">
                                                        <img src="${item.product.imageUri}"
                                                             th:src="|http://${host}:${port}/${item.product.imageUri}|"
                                                             width="70" height="70"/>
                                                    </td>
                                                    <td width="10" style="font-size:14px;"></td>
                                                    <td width="380"
                                                        style="font-size:14px; font-family: Arial; vertical-align:top;">
                                                        <span style="font-family: Arial; font-size: 14px;">
                                                            <strong th:text="${item.product.name}"></strong>
                                                            <br/>
                                                            <span style="font-family: Arial; font-size: 10px;">Product ID</span>
                                                            <span style="font-family: Arial; font-size: 10px;"
                                                                  th:text="${item.product.id}"></span>
                                                            <br/>
                                                            <strong style="font-family: Arial; font-size: 12px;">QTY:</strong>
                                                            &#160;
                                                            <span style="font-family: Arial; font-size: 12px;"
                                                                  th:text="${item.quantity}"></span>
                                                            <br/>
                                                        </span>
                                                    </td>
                                                    <td width="10" style="font-size:14px;"></td>
                                                    <td width="90"
                                                        style="font-size:14px; font-family: Arial; text-align:center; vertical-align:top;">
                                                        <span style="font-family: Arial; font-size: 14px;">12.00</span>
                                                    </td>
                                                    <td width="10" style="font-size:14px;"></td>
                                                    <td width="100"
                                                        style="font-size:14px; font-family: Arial; text-align:center; vertical-align:top;">
                                                        <span style="font-family: Arial; font-size: 14px;">12.00</span>
                                                        <br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="5">
                                                    </td>
                                                </tr>
                                            </th:block>
                                            <tr>
                                                <td colspan="9" style="border-bottom:1px solid #eeeeee;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                </td>
                                                <td>
                                                    <span style="font-size:12px; line-height:12px; color:#333333; font-family: Arial;">
                                                        <strong>TOTAL:</strong>
                                                    </span>
                                                </td>
                                                <td colspan="3">
                                                </td>
                                                <td>
                                                    <div style="font-size:12px; text-align:center; line-height:12px; color:#333333; font-family: Arial;">
                                                        <strong>
                                                            <span th:text="${orderTotal}"></span>
                                                            <span>$</span>
                                                        </strong>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; color: #333333; font-family: Arial;">
                                        <strong style="font-size: 14px; font-family: Arial;">
                                            Thank you for shopping at canadiantire.ca.
                                        </strong>
                                    </td>
                                </tr>
                                <tr height="15">
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div th:replace="fragments/footer :: footer">...</div>
            </td>
        </tr>
    </table>
</center>
</body>

</html>
