/* Shared global styles*/
@import 'app/shared/styles/index';


/* Material Theming */
@import '~@angular/material/theming';
@import './app/app-theme';

// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-red, 600);
$accent:  mat-palette($mat-green, 800, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include ee-app-theme($theme);
